<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="mojaKonekcija" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\WW\Desktop\Back up Format Files\Back up Format Files\Inteligentni korisnicki interfejsi\Vlatko Kochoski 129071 Seminarska MyPlanner\VKplannerWeb\App_Data\CalendarDBase.mdf;Integrated Security=True;User Instance=True"  />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
	<appSettings>
		<add key="GoogleCalendarApplicationClientID" value="291364445297.apps.googleusercontent.com"/>
		<add key="GoogleCalendarApplicationClientSecret" value="1iNzBTRN0PJZZDXikHKLZoWV"/>
		<add key="GoogleReturnPageAddress" value="http://localhost:51885/VKplannerWeb/GoogleCalendarPostRegistration.aspx"/>
	</appSettings>
</configuration>
